@use '../abstracts' as *;

.header {
    height: rem(68px);
    display: flex;
    align-items: center;
    // justify-content: space-between;
    @include mq(medium) {
        height: rem(159px);
        border: none;
        flex-direction: column;
    }
    // @include mq(large) {
    //     flex-direction: row;
    // }
}

.mobile-nav-button {
    width:  rem(24px);
    height: rem(17px);
    margin-left: auto;
    margin-top: rem(4px);
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    @include mq(medium) {
        display: none; 
    }
    &__menu {
        fill: $primary-text-color;
    }
    &__menu--open {
        fill: $secondary-text-color;
    }
}

.header-underline {
    border-bottom: 1px solid $secondary-text-color;
}
















