@use '../abstracts' as *;

.header {
    height: rem(68px);
    display: flex;
    align-items: center;
    width: calc(100% - rem(48px));
    margin: 0 auto;
    @include mq(medium) {
        height: rem(159px);
        border: none;
        flex-direction: column;
        width: calc(100% - rem(104px));
    }
    @include mq(large) {
        height: rem(85px);
        max-width: rem(1360px);
        flex-direction: row;
    }
}

.header-underline {
    border-bottom: 1px solid $secondary-text-color;
}