@use '../abstracts' as *;

.primary-navigation {
    width: 100%;
    padding-top: rem(44px);
    position: absolute;
    top: rem(69px);
    left: -100%;
    bottom: 0;
    z-index: 1;
    background-color: $primary-color;
    transition: left 0.5s;
    @include mq(medium) {
        transition: all 0s;
        padding: 0;
        position: initial;
        top: 0;
    }
    @include mq(large) {
        width: rem(665px);
        margin-left: auto;
    }
    &__inner {
        @include mq(medium) {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
    &--open {
        left: 0;
    }
}

.nav-list-item {
    display: flex;
    align-items: center;
    padding: rem(20px) 0;
    width: calc(100% - rem(48px));
    border-bottom: 1px solid $secondary-text-color;
    margin: auto;
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
    @include mq(medium) {
        margin: 0;
        padding: 0;
        width: initial;
        border: none;
    }
    &__planet {
        width:  20px;
        height: 20px;
        border-radius: 50%; margin-right: rem(20px);
        @include mq(medium) {
            display: none;
        }
    }
    &__link {
        font-weight: 700;
        font-size: rem(15px);
        line-height: rem(25px);
        letter-spacing: rem(1.36px);
        margin-top: rem(3.5px);
        @include mq(medium) {
            margin-top: 0;
            color: #c1c1c8;
            font-size: rem(11px);
            letter-spacing: rem(1px);
        }
        @include mq(large) {
            line-height: rem(80px);
            border-top: 4px solid transparent;
        }
        &:hover {
            @include mq(large) {
                color: $primary-text-color;
            }
        }
    }
    &__icon {
        margin-left: auto;
        margin-right: rem(7px);
        @include mq(medium) {
            display: none;
        }
    }
    @each $name, $value in $mobile-colors {
        &__planet--#{$name} {
            background-color: $value;
        }
    }
    @each $name, $value in $colors {
        &__link--#{$name} {
            &:hover {
                @include mq(large) {
                    border-top: 4px solid $value; 
                }
            }
        }
    }
    @each $name, $value in $colors {
        &__link--#{$name}-active {
            @include mq(large) {
                color: $primary-text-color;
                border-top: 4px solid $value; 
            } 
        }
    }
}


