@use '../abstracts' as *;

.secondary-navigation {
    &__list {
        height: rem(50px);
        display: flex;
        justify-content: space-between; 
        @include mq(medium) {
            height: rem(152px);
            flex-direction: column;  
        }
        @include mq(large) {
            height: rem(176px);
        }
    }
    &__link {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: rem(9px);
        line-height: rem(43px);
        letter-spacing: rem(1.93px);
        text-transform: uppercase;
        border-top:    4px solid transparent;
        border-bottom: 4px solid transparent;
        color: $secondary-text-color;
        @include mq(medium) {
            height: rem(40px);
            line-height: rem(25px);
            padding-left: 1rem;
            border-top:    none;
            border-bottom: none;
            border: 1px solid $secondary-color;
            color: $primary-text-color;
        }
        @include mq(large) {
            height: rem(48px);
            font-size: rem(12px);
            letter-spacing: rem(2.57px);
            &:hover {
                border-color: transparent;
                background-color: $secondary-color;
            }
        }
    }
    &__span-1 {
        color: $secondary-text-color;
    }
    &__span-1,
    &__span-2 {
        display: none;
        @include mq(medium) {
            display: initial;
        }
    }
    @include mq(medium) {
        height: 195px;
        margin-top: 50px;
        padding: 0;
    }
    @include mq(large) {
        margin: 0;
    }
}

.secondary-navigation-underline {
    left: 0;
    right: 0;
    top: rem(119px);
    position: absolute;
    z-index: -1;
    border-bottom: 1px solid $secondary-text-color;
    @include mq(medium) {
        display: none;
    }
}

@each $name, $value in $colors {
    .#{$name} {
        color: $primary-text-color;
        border-bottom: 4px solid $value;
        @include mq(medium) {
            background-color: $value;
            border-color: transparent;
            border: none;
            // border-top:    6px solid transparent;
            // border-bottom: 6px solid transparent;
        }
        @include mq(large) {
            &:hover {
                background-color: $value;
            }
        }
    }
}