@use '../abstracts' as *;

.secondary-navigation {
    padding: 0 5%;
    &__list {
        height: 100%;
        display: flex;
        justify-content: space-between; 
        @include mq(medium) {
            flex-direction: column;  
        }
    }
    &__link {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 0.595rem;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        line-height: 42px;
        border-top:    6px solid transparent;
        border-bottom: 6px solid transparent;
        color: $secondary-text-color;
        @include mq(medium) {
            height: 52px;
            padding-left: 1rem;
            border: 2px solid $secondary-color;
            color: $primary-text-color;
        }
        @include mq(large) {
            font-size: 0.723rem;
            &:hover {
                border-color: transparent;
                background-color: $secondary-color;
            }
        }
    }
    &__span-1 {
        color: $secondary-text-color;
    }
    &__span-1,
    &__span-2 {
        display: none;
        @include mq(medium) {
            display: initial;
        }
    }
    @include mq(medium) {
        height: 195px;
        margin-top: 50px;
        padding: 0;
    }
    @include mq(large) {
        margin: 0;
    }
}

.secondary-navigation-underline {
    left: 0;
    right: 0;
    top: 129px;
    position: absolute;
    border-bottom: 1px solid $secondary-text-color;
    @include mq(medium) {
        display: none;
    }
}

@each $name, $value in $colors {
    .#{$name} {
        color: $primary-text-color;
        border-bottom: 6px solid $value;
        @include mq(medium) {
            background-color: $value;
            border-color: transparent;
            border-top:    6px solid transparent;
            border-bottom: 6px solid transparent;
        }
        @include mq(large) {
            &:hover {
                background-color: $value;
            }
        }
    }
}