@use '../abstracts' as *;

.planet {
    height: rem(300px);
    display: flex;
    flex-direction: column;
    @include mq(medium) {
       height: rem(450px);
    }
    @include mq(large) {
        height: auto;
        
    }
    &__overview {
        margin: auto;
        @include mq(large) {
            position: absolute;
        }
    }
    &__surface {
        display: none;
        @include mq(large) {
            width: rem(163px);
            height: rem(199px);
            display: initial;
            position: absolute;
            top: rem(554px);
            left: rem(399px);
        }
    }

    // Mercury
    &__overview--mercury {
            width:  rem(111px);
            height: rem(111px);
        @include mq(medium) {
            width:  rem(184px);
            height: rem(184px);
        }
        @include mq(large) {
            width:  rem(290px);
            height: rem(290px);  
            top:  rem(328px);
            left: rem(335px);
        }
    }

    // Venus
    &__overview--venus {
            width:  rem(154px);
            height: rem(154px);
        @include mq(medium) {
            width:  rem(253px);
            height: rem(253px);
        }
        @include mq(large) {
            width:  rem(400px);
            height: rem(400px);
            top:  rem(273px);
            left: rem(280px);
        }
    }

    // Earth
    &__overview--earth {
            width:  rem(173px);
            height: rem(173px);
        @include mq(medium) {
            width:  rem(285px);
            height: rem(285px);
        }
        @include mq(large) {
            width:  rem(450px);
            height: rem(450px);  
            top:  rem(248px);
            left: rem(255px);
        }
    }

    // Mars
    &__overview--mars {
            width:  130px;
            height: 130px;
        @include mq(medium) {
            width:  215px;
            height: 215px;
        }
        @include mq(large) {
            width:  335px;
            height: 335px;  
        }
    }

     // Jupiter
     &__overview--jupiter {
            width:  225px;
            height: 225px;
        @include mq(medium) {
            width:  370px;
            height: 370px;
        }
        @include mq(large) {
            width:  500px;
            height: 500px;  
        }
    }

    // Saturn
    &__overview--saturn {
            width:  rem(256px);
            height: rem(256px);
        @include mq(medium) {
            width:  rem(422px);
            height: rem(422px);
        }
        @include mq(large) {
            width:  rem(667px);
            height: rem(667px);  
            top: rem(155.95px);
            left: rem(146.95px);
        }
    }

    // Uranus
    &__overview--uranus {
            width:  175px;
            height: 175px;
        @include mq(medium) {
            width:  290px;
            height: 290px;
        }
        @include mq(large) {
            width:  460px;
            height: 460px;  
        }
    }

    // Neptune
    &__overview--neptune {
            width:  175px;
            height: 175px;
        @include mq(medium) {
            width:  285px;
            height: 285px;
        }
        @include mq(large) {
            width:  450px;
            height: 450px;  
        }
    }
}
