@use '../abstracts' as *;

.stats {
    width: calc(100% - rem(48px));
    height: rem(216px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mq(medium) {
        width: calc(100% - rem(80px));
        height: auto;
        flex-direction: row;
        gap: rem(11px);
    }
    @include mq(large) {
        max-width: rem(1110px);
        padding-top: 5rem;
        gap: rem(30px);
    }
    &__item {
        text-transform: uppercase;
        height: rem(48px);
        padding: 0 rem(24px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $secondary-color;
        @include mq(medium) {
            height: rem(88px);
            flex-grow: 1;
            flex-direction: column;
            padding: 0 rem(15px);
            align-items: initial;
            justify-content: initial;
        }
        @include mq(large) {
            padding: 0 rem(24px);
            height: rem(128px);
        }
    }
    &__heading {
        @include mq(medium) {
            margin-top: rem(16px);
            margin-bottom: rem(6px);
        }
        @include mq(large) {
            margin-top: rem(20px);
            margin-bottom: rem(4px);
        }
    }
}