@use '../abstracts' as *;

body {
    font-family: 'Spartan', sans-serif;
}

p {
    font-weight: 400;
}

h1,
h2,
strong {
    font-weight: 500;
    font-family: 'Antonio', sans-serif;
}

h1 {
    font-size: rem(40px);
    @include mq(medium) {
   
    }
    @include mq(large) {
        
    } 
}

h2 {
    font-size: 1.296rem;
    @include mq(medium) {
        font-size: 1.575rem; 
    }
    @include mq(large) {
        font-size: 2.479rem;
    } 
}

h4 {
    line-height:   25px;
    letter-spacing: 1px;
    font-size: 0.523rem;
    @include mq(medium) {
        font-size: 0.723rem;
    } 
}

P { 
    font-size: 0.878rem;
    line-height: 25px;
}

strong {
    font-size: 1.793rem;
}


