@use '../abstracts' as *;

*, 
*:after,
*:before {
    box-sizing: border-box;
}

html {
    background-color: $primary-color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(../images/background-stars.svg);
    // padding-bottom: 3rem;
}

body {
    color: $primary-text-color;
    font-family: 'Spartan', sans-serif;
}

h1,
h2,
h3,
h4 {
    margin:  0;
    padding: 0;
}

h1,
h2,
strong {
    font-weight: 500;
    font-family: 'Antonio', sans-serif;
}

h1 {
    font-size: rem(40px);
    line-height: rem(52px);
    @include mq(medium) {
        font-size: rem(48px);
        line-height: rem(62px);
    }
    @include mq(large) {
        font-size: rem(80px);
        line-height: rem(104px);
    } 
}

h2 {
    font-size: rem(20px);
    line-height: rem(26px);
    letter-spacing: rem(-0.75px);
    @include mq(medium) {
        font-size: rem(24px);
        line-height: rem(31px);
        letter-spacing: rem(-0.9px);
    }
    @include mq(large) {
        font-size: rem(40px);
        line-height: rem(52px);
        letter-spacing: rem(-1.5px);
    } 
}

h3 {
    font-size: rem(9px);
    line-height: rem(10px);
    letter-spacing: rem(1.93px);
    @include mq(medium) {
        line-height: rem(25px);
    }
    @include mq(large) {
        font-size: rem(12px);
        letter-spacing: rem(2.57px);
    } 
}

h4 {
    color: $secondary-text-color;
    font-size: rem(8px);
    line-height: rem(16px);
    letter-spacing: rem(0.73px);
    @include mq(large) {
        font-size: rem(11px);
        line-height: rem(25px);
        letter-spacing: rem(1px);
    } 
}

P { 
    font-weight: 400;
    font-size: 0.878rem;
    line-height: 25px;
}

a {
    text-decoration: none;
    color: $primary-text-color;
}

ul {
    margin:  0;
    padding: 0;
}

li {
    list-style-type: none
}

strong {
    font-size: 1.793rem;
}

.wrapper {
    width: 90%;
    margin: auto;
}