@use '../abstract/mixins';
@use '../abstract/variables';

.header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mixins.mq(medium) {
        height: auto;
        border: none;
        flex-direction: column;
    }
    @include mixins.mq(large) {
        flex-direction: row;
    }

    &__logo {
        @include mixins.mq(medium) {
            margin: 3rem 0 1rem 0;
            text-align: center;
        }
        @include mixins.mq(large) {
            width: 20%;
            margin: 0;
            text-align: left;
            padding-top: 4px;
        }
    }
}

.mobile-nav-button {
    border: 0;
    width:  2rem;
    height: 2rem;
    margin-left: auto;
    margin-top: 0.4rem;
    background-color: transparent;
    cursor: pointer;
    @include mixins.mq(medium) {
        display: none; 
    }
    &__menu {
        fill: variables.$primary-text-color;
    }
    &__menu--open {
        fill: variables.$secondary-text-color;
    }
}

.underline {
    border-bottom: 1px solid variables.$secondary-text-color;
}
















