@use '../abstract/mixins';
@use '../abstract/variables';

*, 
*:after,
*:before {
    box-sizing: border-box;
}

body {
    color: variables.$primary-text-color;
    background-color: variables.$primary-color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(../images/background-stars.svg);
}

a {
    text-decoration: none;
    color: variables.$primary-text-color;
}

ul {
    margin:  0;
    padding: 0;
}

li {
    list-style-type: none
}

h4 {
    color: variables.$secondary-text-color;
}

h1,
h2,
h3,
h4 {
    margin:  0;
    padding: 0;
}

.wrapper {
    width: 90%;
    margin: auto;
}
