
$primary-color:        #070724;
$secondary-color:      #38384F;
$primary-text-color:   #ffffff;
$secondary-text-color: #838391;

// Active State Colors
$moonstone-teal:   #419EBB;
$indian-yellow:    #EDA249;
$blue-violet:      #6f2ed6;
$cinnabar-red:     #D14C32;
$cg-red:           #D83A34;
$flame-orange:     #CD5120;
$light-sea-green:  #1ec2a4;
$ultramarine-blue: #2d68f0;



























