
$primary-color:        #070724;
$secondary-color:      #38384F;
$primary-text-color:   #ffffff;
$secondary-text-color: #838391;

// Active and Hover State Colors
$colors: (
    mercury:#419EBB,
    venus:  #EDA249,
    earth:  #6f2ed6,
    mars:   #D14C32,
    jupiter:#D83A34,
    saturn: #CD5120,
    uranus: #1ec2a4,
    neptune:#2d68f0,
);

$image-size: (
    mercury: 112px 185px 290px,
    venus:   155px 255px 400px,
    earth:   175px 285px 450px,
    mars:    130px 215px 335px,
    jupiter: 225px 370px 580px,
    saturn:  255px 420px 665px,
    uranus:  175px 290px 460px,
    neptune: 175px 285px 450px,
);


























